@media screen {
  BODY {
    FONT-SIZE: 14px;
    MARGIN: 0px;
    COLOR: black;
    BACKGROUND-COLOR: #cee4ff;
    font-family: "Microsoft Yahei";
    SCROLLBAR-HIGHLIGHT-COLOR: #fff;
    SCROLLBAR-SHADOW-COLOR: #aaa;
    SCROLLBAR-3DLIGHT-COLOR: #aaa;
    SCROLLBAR-ARROW-COLOR: #007cff;
    SCROLLBAR-TRACK-COLOR: #e5e5e5;
    SCROLLBAR-DARKSHADOW-COLOR: #e5e5e5;
    SCROLLBAR-FACE-COLOR: #f5f5f5;
    overflow-y: auto;
    overflow-x: auto;
    padding: 5px;
  }
  ol, ul {
    list-style: none;
  }
  html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, p, blockquote, th, td {
    margin: 0;
    padding: 0;
  }
  #menuPanel .x-btn button ,#menuPanel .easyui-linkbutton,#menuPanel .easyui-menubutton {
    font-size: 14px;
  }
  /*头底色*/
  #menuPanel .z-menubar {
    color: #ffffff;
    padding: 5px;
    background-color: #017bce;
  }
  #menuPanel .m-btn-downarrow {
    background: url('../images/menu_arrows.png') no-repeat 2px center;
  }
  #menuPanel a.l-btn {
    color: #ffffff;
  }
  /*mouseover--bg*/
  #menuPanel a.m-btn-plain-active,#menuPanel a:hover.l-btn-plain {
    background: #0063a7;
    color: #ffffff;
    border: 0px solid #2979FF;
    padding:1px 6px 1px 1px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
  }
  #menuPanel .breadcrumb {
    padding: 5px 15px;
    margin-bottom: 0px;
    list-style: none;
    overflow: hidden;
    height: 28px;
    background-color: #e7e7e7;
    border-radius: 4px;
    font-size: 11pt;
  }
  #menuPanel .breadcrumb .active {
    color: #3c3c3c;
    /*#999999;*/
  }
  #menuPanel .breadcrumb .unactive {
    color: #3c3c3c;
  }
  #menuPanel .navbarclass {
    color: #3c3c3c;
  }
  #menuPanel .z-nav-logonuser {
    background: url('../images/logonuser.png') no-repeat;
  }
  #menuPanel .z-nav-logonuserinfo {
    color: #565656;
    font-weight: bold;
  }
  z-submenu.menu-active {
    border-color: #b7d2ff;
    color: #ffffff;
    background: #0063a7;
    /*#eaf2ff->#33b5d6; wanghc */
  }
  .z-submenu .menu-text {
    font-size: 13px;
  }
  .collapsetable {
    color: #000;
    font-weight: bold;
    padding-left: 20px;
    background-image: url(../images/collapsetable.jpg);
    background-repeat: no-repeat;
  }
  .expandtable {
    font-size: 14px;
    color: #000;
    font-weight: bold;
    padding-left: 20px;
    background-image: url(../images/expandtable.jpg);
    background-repeat: no-repeat;
    vertical-align: top;
  }
  .i-btn{
    width:110px;
    text-align: center;
    display:block;
    border-radius:5px;  
    text-decoration:none;
    padding: 3px 0 4px; /*3px 5px 3px 5px;*/
    color: #444;
    background: #FAFAFA;
    background-repeat: repeat-x;
    border: 1px solid #bbb;
    background: -webkit-linear-gradient(top,#ffffff 0,#eeeeee 100%);
    background: -moz-linear-gradient(top,#ffffff 0,#eeeeee 100%);
    background: -o-linear-gradient(top,#ffffff 0,#eeeeee 100%);
    background: linear-gradient(to bottom,#ffffff 0,#eeeeee 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff,endColorstr=#eeeeee,GradientType=0);
  }
  .i-btn.i-disabled{
  	color: #c8c8c8;
  }
  .i-btn img{
    top: 3px;
    position: relative;
    right: 5px
  }
  .i-btn-primary{
	
  }
  a.i-btn:hover {
	background: #ECECEC;
    background: -webkit-linear-gradient(top,#CDCDCD 0,#ECECEC 100%);
    background: -moz-linear-gradient(top,#CDCDCD 0,#ECECEC 100%);
    background: -o-linear-gradient(top,#CDCDCD 0,#ECECEC 100%);
    background: linear-gradient(to bottom,#CDCDCD 0,#ECECEC 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#CDCDCD,endColorstr=#ECECEC,GradientType=0);
    color: #000000;
  }
  a.i-btn.i-disabled:hover{
  	color: #c8c8c8;
  	background: -webkit-linear-gradient(top,#ffffff 0,#eeeeee 100%);
    background: -moz-linear-gradient(top,#ffffff 0,#eeeeee 100%);
    background: -o-linear-gradient(top,#ffffff 0,#eeeeee 100%);
    background: linear-gradient(to bottom,#ffffff 0,#eeeeee 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff,endColorstr=#eeeeee,GradientType=0);
  }
  /*a:hover  a:link  a:visited a:active*/
  .tbToolbar {
    font-size: 14px;
    WIDTH: 100%;
    COLOR: black;
    font-family: "Microsoft Yahei";
    HEIGHT: 27px;
    /*background-image: url(../images/bg_tbToolbar.jpg);*/
    padding-left: 30px;
    /*BACKGROUND-COLOR: #e4e4e4;#336799;99336B*/
  }
  .tbMenu {
    CURSOR: default;
    font-size: 14px;
    font-family: "Microsoft Yahei";
    COLOR: #000;
    padding: 1px;
  }
  .tbMenuHighlight {
    font-size: 14px;
    CURSOR: default;
    font-family: "Microsoft Yahei";
    COLOR: #fd7201;
    padding: 1px;
    /*text-decoration:underline;*/
  }
  .tbMenu A {
    FONT-SIZE: 14px;
    font-family: "Microsoft Yahei";
    TEXT-DECORATION: none;
  }
  .tbMenu A:hover {
    TEXT-DECORATION: none;
  }
  .tbMenuItemHide {
    DISPLAY: none;
    FONT-SIZE: 14px;
  }
  .tbMenuItem {
    FONT-SIZE: 14px;
    CURSOR: default;
    POSITION: absolute;
    BACKGROUND-COLOR: #e0e0e0 ;
    TEXT-DECORATION: none;
    border: 1px solid #afd5e8;
    background-image: url(../images/tbmenu_bg.jpg);
    z-index:100;
  }
  .tbMenuItem A {
    FONT-SIZE: 14px;
    COLOR: #000;
    TEXT-DECORATION: none;
    height: 23px;
    padding-left: 10px;
    margin-right: 10px;
  }
  .tbMenuItem A:hover {
    COLOR: #fd7201 /*red  #003cff */;
    /*TEXT-DECORATION: underline;*/
    background-image: url(../images/tbmenu_a_bg.jpg);
    background-repeat: repeat-x;
    /*border: 1px solid c5c5c5;*/
  }
  .tbToolbar TD {
    COLOR: white;
  }
  .tbToolbar TD A {
    COLOR: #000;
  }
  .clsLookUp {
    BACKGROUND-COLOR: #f9f9f9 /**ffff99**/;
  }
  #tblLookup TD {
    PADDING-LEFT: 2pt;
    PADDING-RIGHT: 2pt;
    FONT-SIZE: 14px;
    COLOR: black;
    CURSOR: hand;
  }
  .clsLookup TH {
    COLOR: white;
    FONT-WEIGHT: bold;
    TEXT-ALIGN: left;
  }
  .clsLookUpSelected TD {
    BACKGROUND-COLOR: /*#99CCFF#ffcc33;#0a246a;*/ #f7fbff;
  }
  .clsLookUpDate {
    BACKGROUND-COLOR: #ffffff;
    /*#a6b9ec*/
    COLOR: #000;
    FONT-SIZE: 14px;
    FONT-WEIGHT: bold;
    TEXT-ALIGN: center;
    CURSOR: hand;
  }
  .clsLookUpDateDayTitle {
    background-image: url(../images/clsLookUpDateDayTitlebg.gif);
    color: #233d6d /*#ffffff*/;
    TEXT-ALIGN: center;
    FONT-SIZE: 14px;
    FONT-WEIGHT: bold;
  }
  .clsLookUpDateWeekday {
    BACKGROUND-COLOR: #fff;
    /*e9f4ff;*/
    FONT-SIZE: 14px;
    PADDING-TOP: 4px;
    PADDING-RIGHT: 2px;
  }
  .clsLookUpDateWeekend {
    BACKGROUND-COLOR: /*#c1ddff*/ #e9f4ff;
    FONT-SIZE: 14px;
    PADDING-TOP: 4px;
    PADDING-RIGHT: 2px;
  }
  .clsLookUpDateToday {
    BACKGROUND-COLOR: #9dcaff;
    /*#FFDDCC; /*today*/
    BORDER: 1px solid #d0d0d0;
    FONT-SIZE: 14px;
    PADDING-TOP: 4px;
    PADDING-RIGHT: 2px;
  }
  .clsLookUpDateSelected {
    BACKGROUND-COLOR: #1e3b72;
    /*ffae00;#ffcc33; date to select*/
    FONT-SIZE: 14px;
    PADDING-TOP: 4px;
    PADDING-RIGHT: 2px;
    color: #fff;
  }
  .pagebg{ 
	background:#F4F4F4; 
	border:1px solid #dddddd; 
	/*margin-top:-3px;*/
	height:28px;
	list-style:none;
  }
  .pagebg td{
  	padding:0px;
  	margin:0px;
  }
  .pager{
	  width:98%;
	  margin-left:8px;
	  float:left;
  }
  .pager li{
	  display:inline;
	  vertical-align:middle;
	  margin-left:0px; 
	  color:#666; 
  } 
  .pager li a img{ 
  	vertical-align:middle; 
  	border:1px solid #F4F4F4;
  	padding:1px 2px ;
  }
  .pager li input{
	  width:35px;
	  height:20px;
	  vertical-align:middle; 
	  margin-bottom: 3px; 
   } 
  .pagebg li span{
	  vertical-align:middle; 
	  font-size:13px;
  }
  .pager li a img:hover{
  	background:#eaf2ff;
  	border: 1px solid #b7d2ff;
  	border-radius:3px;
	filter: none;
  } 
  li.i-pagerowinfo{
	color:#666;  
	padding-top:4px; 
  	float:right;
  }
  
  
  a {
    text-decoration: none;
  }
  /*a:hover {
    color: #eaf2ff;
  }*/
  BODY FORM {
    MARGIN: 0px;
  }
  BODY INPUT {
    FONT-SIZE: 13px;
    FONT-FAMILY: "Microsoft Yahei";
    border: 1px solid #95B8E7;
    height: 24px;
    /*width:130px;*/  /*IE5下不能区分checkbox*/
  }
  BODY INPUT:focus {
	   border-color: #6b9cde;
	  -moz-box-shadow: 0 0 3px 0 #95B8E7;
	  -webkit-box-shadow: 0 0 3px 0 #95B8E7;
	  box-shadow: 0 0 3px 0 #95B8E7;
	  background-color: #ffe48d; /*#eaf2ff;*/
  }
  BODY INPUT[type=checkbox] {
   height:18px;
   background-image:url();
  }
  /*IE11下的输入框不显示小x*/
  BODY input::-ms-clear{
	  display:none;
	  width:0px;
	  height:0px;
  }
  TEXTAREA {
    FONT-SIZE: 14px;
    font-family: "Microsoft Yahei";
    border: 1px solid #95B8E7;
    width:130px;
  }
  BODY TEXTAREA:focus {
    border-color: #6b9cde;
    -moz-box-shadow: 0 0 3px 0 #95B8E7;
    -webkit-box-shadow: 0 0 3px 0 #95B8E7;
    box-shadow: 0 0 3px 0 #95B8E7;
    background-color: #ffe48d;
  }

  SELECT {
    FONT-SIZE: 14px;
    height:24px;
    font-family: "Microsoft Yahei";
    border: 1px solid #9d9d9d;
    background-image: url(../images/inputbg.gif);
    background-repeat: repeat-x;
    background-position: top;
  }
  .form-checkbox{
    border: 0px solid #b5b8c8;
    height: 18px;
    background-image: url();
    background-repeat: repeat-x;
    background-position: top;
  }
  .disabledField {
    BACKGROUND-COLOR: #dddddd;
    border: 1px solid #dddddd;
    background-image: url(../images/disableinputbg.gif);
    background-repeat: repeat-x;
    background-position: top;
  }
  .disabledInvisibleField {
    BACKGROUND-COLOR: #dddddd;
    COLOR: #dddddd;
  }
  .clsReadOnly {
    FILTER: progid:DXImageTransform.Microsoft.Alpha(style=0, opacity=50);
  }
  .clsInvalid {
    COLOR: red;
  }
  .clsRowCalled {
    BACKGROUND-COLOR: #60f807;
  }
  .clsRowWait {
    BACKGROUND-COLOR: #ff80ff;
  }
  .clsRowCalledWait {
    background-color: #0080FF;
  }
  TEXTAREA.disabledField {
    FONT-SIZE: 14px;
    font-family: "Microsoft Yahei";
    BACKGROUND-COLOR: #ffffff;
    COLOR: #888888;
    SCROLLBAR-FACE-COLOR: #cccccc;
    SCROLLBAR-TRACK-COLOR: #cccccc;
    SCROLLBAR-ARROW-COLOR: #eeeeee;
    SCROLLBAR-HIGHLIGHT-COLOR: #eeeeee;
    SCROLLBAR-3DLIGHT-COLOR: #eeeeee;
    SCROLLBAR-SHADOW-COLOR: #666666;
    SCROLLBAR-DARKSHADOW-COLOR: #666666;
  }
  INPUT.clsInvalid {
    ZOOM: 1.2;
    BORDER-RIGHT: red 1px solid;
    BORDER-TOP: red 1px solid;
    BORDER-LEFT: red 1px solid;
    BORDER-BOTTOM: red 1px solid;
    BACKGROUND-POSITION: right top;
    BACKGROUND-IMAGE: url(../images/websys/error.gif);
    BACKGROUND-REPEAT: no-repeat;
  }
  INPUT.clsWarning {
    ZOOM: 1.2;
    BORDER-RIGHT: blue 1px solid;
    BORDER-TOP: blue 1px solid;
    BORDER-LEFT: blue 1px solid;
    BORDER-BOTTOM: blue 1px solid;
    BACKGROUND-POSITION: right top;
    BACKGROUND-IMAGE: url(../images/websys/exclamation.gif);
    BACKGROUND-REPEAT: no-repeat;
  }
  INPUT.clsInfo {
    ZOOM: 1.2;
    BORDER-RIGHT: yellow 1px solid;
    BORDER-TOP: yellow 1px solid;
    BORDER-LEFT: yellow 1px solid;
    BORDER-BOTTOM: yellow 1px solid;
    BACKGROUND-POSITION: right top;
    BACKGROUND-IMAGE: url(../images/websys/information.gif);
    BACKGROUND-REPEAT: no-repeat;
  }
  LABEL.clsRequired {
    font-size: 14px;
    background-image: url(../images/Required.gif);
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 8px;
  }
  H1 {
    TEXT-ALIGN: center;
    TEXT-TRANSFORM: uppercase;
    DISPLAY: inline;
    FONT-STYLE: bold;
    FONT-SIZE: 14px;
    /* LETTER-SPACING: 2pt;*/
    COLOR: #000000 /*darkblue*/;
    /*BACKGROUND-COLOR: #dfdfff;*/
  }
  H2 {
    TEXT-ALIGN: center;
    TEXT-TRANSFORM: uppercase;
    DISPLAY: normal;
    FONT-STYLE: bold;
    FONT-SIZE: 14px;
    /*LETTER-SPACING: 2pt;*/
    COLOR: darkblue;
    /*BACKGROUND-COLOR: #dfdfff;*/
  }
  H3 {
    TEXT-ALIGN: left;
    DISPLAY: inline;
    FONT-WEIGHT: bold;
    FONT-STYLE: bold;
    FONT-SIZE: 14px;
    COLOR: darkblue;
    BACKGROUND-COLOR: #dfdfff;
  }
  H4 {
    TEXT-ALIGN: left;
    DISPLAY: inline;
    FONT-WEIGHT: normal;
    FONT-STYLE: normal;
    FONT-SIZE: 14px;
    COLOR: darkblue;
    BACKGROUND-COLOR: #dfdfff;
  }
  H5 {
    DISPLAY: inline;
    COLOR: darkblue;
    BACKGROUND-COLOR: #dfdfff;
  }
  H6 {
    DISPLAY: inline;
    FONT-WEIGHT: normal;
    FONT-STYLE: normal;
    FONT-SIZE: 14px;
    COLOR: black;
  }
  .headtitle{
  	  color:#222222;
  	  font-size:16px;
  	  text-align:center;
  }
  .maintitle,.formtitle,.listtitle,.savetitle,.edittitle,.defaulttitle,.collapsetitle{
	font-size: 14px;
    color: #15428b ;
    padding-left: 28px;
    padding-bottom:4px;
    height: 23px;
    font-weight: bold;
    vertical-align: middle;
    text-align: left;
    border:1px #95B8E7 solid;
	background:url("") #E4F0FF no-repeat center left 10px;
  }
  .maintitle {
    background-image:url("../images/websys/searchbox_button.png");
  }
  .formtitle{
	background:url("") #E4F0FF  no-repeat center left 10px; 
  }
  .formtitle>img{
	  position: absolute;
	  margin-top:2px;
	  margin-left:-18px;
	  margin-right:4px;
  }
  .listtitle{
    background-image:url("../images/websys/tblist.png");
  }
  .savetitle{
    background-image:url("../images/websys/filesave.png");
  }
  .edittitle{
    background-image:url("../images/websys/editstatu.png");
  }
  .defaulttitle{
    background-image:url("../images/websys/yellow_paper.png");
  }
  /*结合websys.collapse.js实现自动收起功能*/
  .collapsetitle{
  	background-image:url("../images/websys/editstatu.png");
  	cursor: pointer;
  }
  .collapsetitle a:hover,.collapsetitle a:focus {
    opacity: 1;
    filter: alpha(opacity=100);
    background-color: #E6E6E6;
    -moz-border-radius: -2px -2px -2px -2px;
    -webkit-border-radius: -2px -2px -2px -2px;
    border-radius: -2px -2px -2px -2px;
  }
  .tabstitle{
	font-size: 14px;
	color: #15428b ;
	vertical-align: middle;
	text-align: left;
	border:1px #95B8E7 solid;
	padding:2px 0 0 4px;
  }
  .tabstitle *{
	 white-space: nowrap; 
  }
  .tabstitle .i-btn{
	float:left;
    text-align: center;
    border:1px #95B8E7 solid;
    border-top-left-radius:5px; 
    border-top-right-radius:5px;
    border-bottom-right-radius:0px;
    border-bottom-left-radius:0px;
    text-decoration:none;
    margin-left:2px;
    margin-bottom:-1px;
    padding-top:2px;
    padding-bottom:2px;
    height:26px;
	color: #0E2D5F;
	background-color: #E0ECFF;
	background: -webkit-linear-gradient(top,#EFF5FF 0,#E0ECFF 100%);
	background: -moz-linear-gradient(top,#EFF5FF 0,#E0ECFF 100%);
	background: -o-linear-gradient(top,#EFF5FF 0,#E0ECFF 100%);
	background: linear-gradient(to bottom,#EFF5FF 0,#E0ECFF 100%);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#EFF5FF,endColorstr=#E0ECFF,GradientType=0);
  } 
  .tabstitle .i-btn:hover{
	border-bottom:1px #F6F9FF solid; 
    background: #EFF5FF;
    background: -webkit-linear-gradient(top,#EFF5FF 0,#F6F9FF 100%);
    background: -moz-linear-gradient(top,#EFF5FF 0,#F6F9FF 100%);
    background: -o-linear-gradient(top,#EFF5FF 0,#F6F9FF 100%);
    background: linear-gradient(to bottom,#EFF5FF 0,#F6F9FF 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#EFF5FF,endColorstr=#F6F9FF,GradientType=0);
    font-weight: bold;
    position:relative;
    z-index:1;
  }
  .tabstitle .tabactive{
    border-bottom:1px #F6F9FF solid;
    background: #F6F9FF;
    background: -webkit-linear-gradient(top,#F6F9FF 0,#FFFFF 100%);
    background: -moz-linear-gradient(top,#F6F9FF 0,#FFFFF 100%);
    background: -o-linear-gradient(top,#F6F9FF 0,#FFFFF 100%);
    background: linear-gradient(to bottom,#F6F9FF 0,#FFFFF 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#F6F9FF,endColorstr=#FFFFF,GradientType=0);
    font-weight: bold;
    position:relative;
    z-index:1;
  }
  .keyword {
    color: #00a;
    font-weight: bold;
  }
  .string {
    color: #ff0000;
  }
  .sqltable {
    color: green;
  }
  /*2title-->title2*/
  .title2 {
    font-size: 14px;
    color: #000;
    font-weight: bold;
    padding-left: 30px;
    height: 23px;
    background-image: url(../images/title2bg.gif);
    background-repeat: no-repeat;
    vertical-align: top;
  }
  .logontable {
    background-image: url(../images/logon_bg2.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    height: 328px;
    width: 600px;
  }
  .logon label {
    font-size: 14px;
    color: #000000 /*#1c74b1*/;
  }
  .logon input {
    FONT-SIZE: 14px;
    border: 1px solid /*#b5b8c8*/ #b5b8c8;
    height: 22px;
    background-image: url(../images/inputbg.gif);
    background-repeat: repeat-x;
    background-position: top;
    width: 150px;
  }
  BODY TABLE {
    FONT-SIZE: 14px;
    COLOR: black;
  }
  TABLE.tbllist TD {
    MARGIN: 0px;
    padding: 5px 0px;
    border-right: 1px dotted #cccccc;
    border-bottom: 1px dotted #cccccc;
    font-size: 14px;
    line-height: 18px;
  }
  TABLE.tbllist TD label{
  	padding:0px 4px;
  }
  /*固定表头 固定宽度*/
  div.tblListFlexHeader {
    font-weight: normal;
    text-align: left;
    background: -webkit-linear-gradient(top,#F9F9F9 0,#efefef 100%);
    background: -moz-linear-gradient(top,#F9F9F9 0,#efefef 100%);
    background: -o-linear-gradient(top,#F9F9F9 0,#efefef 100%);
    background: linear-gradient(to bottom,#F9F9F9 0,#efefef 100%);
    background-repeat: repeat-x;
    background-color: #FAFAFA;
  }
  .tblList TH,.tblListFlexHeader TH,.tblListFlexHeader Td {
    font-size: 14px;
    font-weight: normal;
    color: #000000;
    height: 25px;
    text-align: left;
    border-top: 1px #95B8E7 solid;
    border-right: 1px #CCCCCC dotted; 
    border-bottom: 1px #CCCCCC solid;
    background-color: #FAFAFA;
    background: -webkit-linear-gradient(top,#F9F9F9 0,#efefef 100%);
    background: -moz-linear-gradient(top,#F9F9F9 0,#efefef 100%);
    background: -o-linear-gradient(top,#F9F9F9 0,#efefef 100%);
    background: linear-gradient(to bottom,#F9F9F9 0,#efefef 100%);
    background-repeat: repeat-x;
    top:-1px;
    position:relative;
	padding: 5px 0px;
  }
  /*固定表的td宽度为120px*/
  .tblListFlexHeader TH,.tblListFlexHeader Td ,.tblListContainer TABLE.tbllist TD, .tblListContainer TABLE.tbllist input {
    width: 120px;
  }
  .tblListFlexHeader TH,.tblListFlexHeader Td ,
  .tblListContainer TABLE.tbllist TD, .tblListContainer TABLE.tbllist input ,.tblListContainer TABLE.tbllist label{
    word-break:break-all;
    word-wrap:break-word;
    white-space:normal;
  }
  TD.CellCaption {
    COLOR: black;
  }
  TD.CellData {
    COLOR: black;
  }
  /*button在td内,input在td内*/
  form table td,form table th{
  	margin:0;
  	padding:2px 0px;
  }
  form table img.zlookupimg{
  	margin-left: -20px;
    margin-bottom: -2px;
  }
  form table input.zlookup{
      padding-right:18px;
  }


  div.zlookup,div.zlookupdate{
 	display:inline;
  }
  form table div.zlookup input, form table div.zlookupdate input{
  	padding-right:18px;
  }
  form table div.zlookup img, form table div.zlookupdate img{
  	margin-left: -20px;
    margin-bottom: -2px;	
  }
  form .i-input {
  	display:inline;
  }
  form .i-input input{
  	width:130px;
  	height:24px;
  	display:inline;
  }
  form .i-input input.dhx_combo_input{
  	height:20px;
  }
  /*.i-tbListContainer{
	height:500;
	width:700;
	overflow:auto;
  }*/
  /*tool bar*/
  .i-toolborder{
	border-left:1px #95B8E7 solid;
	border-right:1px #95B8E7 solid;
  	background-color:#F9FBFF;
  	top:-2px;
  	position:relative; 
  	padding:0px;
  }  
  .i-toolborder .i-btn {
  	margin:1px 2px;
  	float:left;
  	border:none;
  	width:70px;
  	background: transparent;
  }
  .i-toolborder *{
	 padding-top:1px;
	 padding-bottom:1px;
	 white-space: nowrap; 
  }
  .i-nowarpborder{
  	border:1px #95B8E7 solid;
  	background-color: #F9FBFF;
  	border-top:none;
  	top:-2px;
  	position:relative; 
  	padding:0px;
  }
  .i-nowarpborder *{
  	white-space: nowrap;
  }
  .i-nowrapborder{
  	border:1px #95B8E7 solid;
  	background-color: #F9FBFF;
  	border-top:none;
  	top:-2px;
  	position:relative; 
  	padding:0px;
  }
  .i-nowrapborder *{
  	white-space: nowrap;
  }
  /*一个td内放多个输入框*/
  .i-floatleft .i-input{
	  float:left;
	  padding: 0 1px;
  }
  .i-tableborder{
	border:1px #95B8E7 solid;
  	background-color:#F9FBFF;
  	top:-3px;
  	position:relative; 
  	padding:0px;
  } 
  .i-tabsborder{
	border:1px #95B8E7 solid;
	border-top:0px #95B8E7 solid;
  	background-color:#F9FBFF;
  	top:-2px;
  	position:relative; 
  	padding:0px;
  }   
  .i-tableborder18{
  	border:1px #95B8E7 solid;
  	background-color:#F9FBFF;
  	border-top:none;
  	top:-2px;
  	position:relative; 
  	padding:0px;
  }
  .i-tableborder18 .tblList td,.i-tableborder18 .tblList TH {
      font-size: 18px;
  }
 .i-tableborder16{
  	border:1px #95B8E7 solid;
  	background-color: #F9FBFF;
  	border-top:none;
  	top:-2px;
  	position:relative; 
  	padding:0px;
  	
  }
  .i-tableborder16 .tblList td,.i-tableborder16 .tblList TH {
      font-size: 16px;
  }  
  .i-tableborder label{
	  padding:0 5px;
  }  
  .i-flowleft .i-btn,.i-flowleft input{
	  float:left;
  }
  TABLE.tbllist tr:hover{
      cursor:default;
      background:#eaf2ff;
  }
  TABLE.tbllist tr.clsRowSelected:hover{
      BACKGROUND-COLOR: #FFE48D;
  }

  
  /********************************dhc clinic add begin********************************/
  TR.UnPaid {
    PADDING-LEFT: 3px;
    BACKGROUND-COLOR: #d0ffff;
  }
  TR.Immediate {
    PADDING-LEFT: 3px;
    BACKGROUND-COLOR: #ffb90e;
  }
  TR.LackOfFee {
    PADDING-LEFT: 3px;
    BACKGROUND-COLOR: #e000e0;
    /*fuchsia;*/
  }
  TR.SkinTest {
    PADDING-LEFT: 3px;
    BACKGROUND-COLOR: #e00000;
    /*red;*/
  }
  TR.Discontinue {
    PADDING-LEFT: 3px;
    BACKGROUND-COLOR: deepskyblue;
  }
  TR.TempTest {
    PADDING-LEFT: 3px;
    BACKGROUND-COLOR: #b0ffb0;
    /*#80c0ff;*/
  }
  TR.ExecDiscon {
    PADDING-LEFT: 3px;
    BACKGROUND-COLOR: #8080c0;
  }
  TR.Temp {
    PADDING-LEFT: 3px;
    BACKGROUND-COLOR: #ffffc0;
  }
  TR.SubOrder {
    PADDING-LEFT: 3px;
    BACKGROUND-COLOR: #b1ffb1;
    /*#80c0ff;*/
  }
  TR.MasterOrder {
    PADDING-LEFT: 3px;
    BACKGROUND-COLOR: #60f807;
  }
  TR.SubOrder1 {
    PADDING-LEFT: 3px;
    BACKGROUND-COLOR: #00ffff;
    /*#80c0ff;*/
  }
  TR.MasterOrder1 {
    PADDING-LEFT: 3px;
    BACKGROUND-COLOR: #00ccff;
  }
  TR.LongNew {
    PADDING-LEFT: 3px;
    BACKGROUND-COLOR: #ffc0c0;
  }
  TR.Needless {
    PADDING-LEFT: 3px;
    BACKGROUND-COLOR: white;
  }
  TR.Exec {
    PADDING-LEFT: 3px;
    BACKGROUND-COLOR: #dfdfff;
  }
  TR.PreDiscon {
    PADDING-LEFT: 3px;
    BACKGROUND-COLOR: #a0a0a0;
  }
  TR.LongUnnew {
    PADDING-LEFT: 3px;
    BACKGROUND-COLOR: #ffd0ff;
  }
  TD.Green {
    PADDING-LEFT: 3px;
    BACKGROUND-COLOR: #a0e0a0;
    /*palegreen;*/
  }
  TD.Red {
    PADDING-LEFT: 3px;
    BACKGROUND-COLOR: #e00000;
    font: Bold;
    /*red;*/
  }
  TD.Blue {
    PADDING-LEFT: 3px;
    BACKGROUND-COLOR: deepskyblue;
  }
  TD.White {
    PADDING-LEFT: 3px;
    BACKGROUND-COLOR: white;
  }
  TD.Black {
    PADDING-LEFT: 3px;
    BACKGROUND-COLOR: black;
    color: #ffffff;
  }
  TD.Fuchsia {
    PADDING-LEFT: 3px;
    BACKGROUND-COLOR: #e000e0;
    /*fuchsia;*/
  }
  TD.Yellow {
    PADDING-LEFT: 3px;
    BACKGROUND-COLOR: #ffffc0;
    /*#ffffe0;yellow;*/
  }
  TD.Gray {
    PADDING-LEFT: 3px;
    BACKGROUND-COLOR: gray;
  }
  TD.Brown {
    PADDING-LEFT: 3px;
    BACKGROUND-COLOR: brown;
    color: white;
  }
  TD.Purple {
    PADDING-LEFT: 3px;
    BACKGROUND-COLOR: purple;
    color: yellow;
  }
  TD.Orange {
    PADDING-LEFT: 3px;
    BACKGROUND-COLOR: orange;
  }
  TD.MediumPurple {
    PADDING-LEFT: 3px;
    BACKGROUND-COLOR: MediumPurple;
  }
  TD.SkyBlue {
    PADDING-LEFT: 3px;
    BACKGROUND-COLOR: SkyBlue;
  }
  TD.DarkGreen {
    PADDING-LEFT: 3px;
    BACKGROUND-COLOR: DarkGreen;
    color: white;
  }
  TD.Orchid {
    PADDING-LEFT: 3px;
    BACKGROUND-COLOR: Orchid;
  }
  TD.Brown {
    PADDING-LEFT: 3px;
    BACKGROUND-COLOR: Brown;
  }
  TD.DarkBlue {
    PADDING-LEFT: 3px;
    BACKGROUND-COLOR: DarkBlue;
    color: white;
  }
  TD.OrangeRed {
    PADDING-LEFT: 3px;
    BACKGROUND-COLOR: OrangeRed;
  }
  /********************************dhc clinic add end********************************/
  .RowOdd {
    PADDING-LEFT: 5px;
    background-color: #ffffff;
    /*#FFFFFF;*/
  }
  .RowEven {
    PADDING-LEFT: 5px;
    background-color: #FAFAFA; /*#f9f9f9;*/
    /*#f8f9fb #F7FBFF;*/
  }
  TR.RowSelColor {
    BACKGROUND-COLOR: #ffff99;
  }
  TR.OldBackColor {
    BACKGROUND-COLOR: #ddddff;
  }
  TR.RedColor {
    BACKGROUND-COLOR: Red;
  }
  TR.RowEven1 {
    /*BACKGROUND-COLOR: #cfcfff;/*#ffffcc;*/
    PADDING-LEFT: 5px;
    /*background-image: url(../images/bg_line.jpg);
		background-repeat: repeat-x;
		background-position: bottom;*/
    background-color: #ffffff /* #F7FBFF*/;
  }
  TR.RowOdd1 {
    /*BACKGROUND-COLOR: #dfdfff;/*#ffff99;*/
    PADDING-LEFT: 5px;
    /*background-image: url(../images/bg_line.jpg);
		background-repeat: repeat-x;
		background-position: bottom;*/
    background-color: #FFFFFF;
  }
  .clsRowSelected {
    BACKGROUND-COLOR: #FFE48D; /*#cbe5ff;*/
  }
  /*dotted*/
  /*wanghc 2016-08-31*/
  .clsRowSelected td {
    /*border-top: 1px solid #a3bae9;
    border-bottom: 1px solid #a3bae9;
    margin: -2px;*/
  }
  .clsRowDisabled {
    BACKGROUND-COLOR: Silver;
  }
  table.tbllist {
    background-color: #FFFFFF;
  }
  tbllist td {
    padding: 10px;
  }
  .tblList A {
    COLOR: #0033cc /*#990033*/;
  }
  .tblList A:hover {
    COLOR: #0066ff /*black;*/;
  }
  .tblListSelect {
    CURSOR: hand;
  }
  .tblListSelect A {
    COLOR: #0033cc /*#990033*/;
  }
  .tblListSelect A:hover {
    COLOR: #0066FF;
  }
  .clsRowHighlight {
    BACKGROUND-COLOR: /*#6699cc*/ #ffffff;
    COLOR: white;
  }
  .clsRowHighlight A {
    COLOR: /*pink*/ #000000;
  }
  .clsRowHighlight A:hover {
    COLOR: /*white*/ #000000;
  }
  .clsRowSelectHighlight {
    BACKGROUND-COLOR: /*#6699cc*/ #dfe8f6;
    COLOR: gold;
  }
  .clsRowSelectHighlight A {
    COLOR: orange;
  }
  .clsRowSelectHighlight A:hover {
    COLOR: gold;
  }
  #fPAPerson_Banner>TABLE {
    FONT-WEIGHT: bold;
    FONT-SIZE: 14px;
    COLOR: black;
    HEIGHT: 27px;
    background-color:#edf5ff;
    /*border:1px #87b9e7 solid;*/
    /*background-image: url(../images/fpabanner_bg.png);background-repeat: no-repeat;*/
    TEXT-ALIGN: left;
  }
  /*************************************************
	*****	COMPONENT SPECIFIC STYLE BELOW
	*************************************************/
  .RowSeparator {
    BORDER-RIGHT: 0px solid;
    BORDER-TOP: 0px solid;
    BORDER-LEFT: 0px solid;
    BORDER-BOTTOM: 0px solid;
    BACKGROUND-COLOR: #336699;
  }
  TD.DentalSel {
    BACKGROUND-COLOR: Yellow;
  }
  .clsRowPre {
    BACKGROUND-COLOR: BlanchedAlmond;
  }
  .clsRowTempLoc {
    BACKGROUND-COLOR: LightSeaGreen;
  }
  .clsRowTempLocSel {
    BACKGROUND-COLOR: #eeea88;
  }
  .clsRowFromTempLoc {
    background-color: #00CC66;
  }
  .clsRowAlert {
    BACKGROUND-COLOR: fuchsia;
  }
  .clsBoarderOut {
    BACKGROUND-COLOR: DarkSalmon;
  }
  .clsOutlier {
    BACKGROUND-COLOR: LightSkyBlue;
  }
  .clsPartialSelect {
    BACKGROUND-COLOR: #ffff99;
  }
  .clsEPRHeading {
    TEXT-ALIGN: center;
    TEXT-TRANSFORM: uppercase;
    DISPLAY: inline;
    FONT-WEIGHT: bold;
    FONT-STYLE: bold;
    FONT-SIZE: 12pt;
    LETTER-SPACING: 2pt;
    COLOR: darkblue;
    /*BACKGROUND-COLOR: #dfdfff;*/
  }
  .EMREpisTimeLine {
    BACKGROUND-COLOR: blue;
    BORDER-LEFT: black 1px solid;
    BORDER-BOTTOM: black 1px solid;
    BORDER-RIGHT: black 1px solid;
    BORDER-TOP: black 1px solid;
  }
  .EMREpisTimeLineCANCEL {
    BACKGROUND-COLOR: #FF0000;
    BORDER-LEFT: black 1px solid;
    BORDER-BOTTOM: black 1px solid;
    BORDER-RIGHT: black 1px solid;
    BORDER-TOP: black 1px solid;
  }
  .EMREpisTimeLineCANCELSelect {
    BACKGROUND-COLOR: #FF8000;
    BORDER-LEFT: black 1px ridge;
    BORDER-BOTTOM: black 1px ridge;
    BORDER-RIGHT: black 1px ridge;
    BORDER-TOP: black 1px ridge;
  }
  .EMREpisTimeLineSelect {
    BACKGROUND-COLOR: yellow;
    BORDER-LEFT: black 1px solid;
    BORDER-BOTTOM: black 1px solid;
    BORDER-RIGHT: black 1px solid;
    BORDER-TOP: black 1px solid;
  }
  .EMREpisTimeLineCol {
    BACKGROUND-COLOR: #dfdfff;
    BORDER-LEFT: black 1px ridge;
    BORDER-BOTTOM: black 1px solid;
    WIDTH: 20px;
  }
  .EMREpisTimeLineColSelect {
    BACKGROUND-COLOR: yellow;
    BORDER-LEFT: black 1px ridge;
    WIDTH: 20px;
    BORDER-BOTTOM: black 1px solid;
    /*  BORDER-RIGHT: black 1px solid;
	    BORDER-TOP: black 1px solid;
	*/
  }
  .EMRResultCommentRowOdd {
    PADDING-LEFT: 3px;
    BACKGROUND-COLOR: /*#cfcfff;*/ #ffffff;
    FONT-WEIGHT: normal;
    FONT-STYLE: normal;
    FONT-SIZE: 14px;
    COLOR: black;
  }
  .DHC-RowClass {
    BACKGROUND-COLOR: green;
  }
  .EMRResultCommentRowEven {
    PADDING-LEFT: 3px;
    BACKGROUND-COLOR: #fff ;
    FONT-WEIGHT: normal;
    FONT-STYLE: normal;
    FONT-SIZE: 14px;
    COLOR: black;
  }
  TR.SlotOverride {
    BACKGROUND-COLOR: #8080ff;
  }
  TR.SqueezedIn {
    BACKGROUND-COLOR: Thistle;
  }
  TR.ScheduleStop {
    BACKGROUND-COLOR: red;
  }
  TR.ScheduleReplace {
    BACKGROUND-COLOR: blue;
  }
  TR.PatientNotAttending {
    BACKGROUND-COLOR: #dcdcd6;
  }
  TR.NotAvailableEvent {
    BACKGROUND-COLOR: #99ff00;
  }
  TR.PublicHol {
    BACKGROUND-COLOR: blue;
  }
  .NotAvailable {
    BACKGROUND-COLOR: #dc8cd6;
  }
  .NotAvailableVacant {
    BACKGROUND-COLOR: WHITE;
  }
  .TransactionBooking {
    BACKGROUND-COLOR: Thistle;
  }
  .EstDOB {
    COLOR: fuchsia;
  }
  .EstOnsetDate {
    COLOR: fuchsia;
  }
  .EstInjury {
    COLOR: fuchsia;
  }
  .EMROtherEpsOdd {
    BACKGROUND-COLOR: #e7e7e7 /*cfcfff*/;
    FONT-STYLE: italic;
  }
  .EMROtherEpsEven {
    BACKGROUND-COLOR: #fff;
    FONT-STYLE: italic;
  }
  .AbnrmlResOdd {
    PADDING-LEFT: 3px;
    BACKGROUND-COLOR: #cfcfff;
    COLOR: #FF0000;
  }
  .AbnrmlResEven {
    PADDING-LEFT: 3px;
    BACKGROUND-COLOR: #dfdfff;
    COLOR: #FF0000;
  }
  .AbnrmlEMROtherEpsOdd {
    PADDING-LEFT: 3px;
    BACKGROUND-COLOR: #cfcfff;
    FONT-STYLE: italic;
    COLOR: #FF0000;
  }
  .AbnrmlEMROtherEpsEven {
    PADDING-LEFT: 3px;
    BACKGROUND-COLOR: #dfdfff;
    FONT-STYLE: italic;
    COLOR: #FF0000;
  }
  .NormalResult {
    PADDING-LEFT: 3px;
    COLOR: BLACK;
  }
  .HighResult {
    PADDING-LEFT: 3px;
    COLOR: #FF0000;
  }
  .LowResult {
    PADDING-LEFT: 3px;
    COLOR: #FF0000;
  }
  .HighHighResult {
    PADDING-LEFT: 3px;
    COLOR: PURPLE;
  }
  .LowLowResult {
    PADDING-LEFT: 3px;
    COLOR: GREEN;
  }
  .AbnormalResult {
    PADDING-LEFT: 3px;
    COLOR: #FF0000;
  }
  .NormalResultOtherEps {
    PADDING-LEFT: 3px;
    COLOR: BLACK;
    FONT-STYLE: italic;
  }
  .HighResultOtherEps {
    PADDING-LEFT: 3px;
    COLOR: #FF0000;
    FONT-STYLE: italic;
  }
  .LowResultOtherEps {
    PADDING-LEFT: 3px;
    COLOR: #FF0000;
    FONT-STYLE: italic;
  }
  .HighHighResultOtherEps {
    PADDING-LEFT: 3px;
    COLOR: PURPLE;
    FONT-STYLE: italic;
  }
  .LowLowResultOtherEps {
    PADDING-LEFT: 3px;
    COLOR: GREEN;
    FONT-STYLE: italic;
  }
  .AbnormalObs {
    COLOR: #FF0000;
  }
  .NormalObsOtherEps {
    FONT-STYLE: italic;
  }
  .AbnormalObsOtherEps {
    COLOR: #FF0000;
    FONT-STYLE: italic;
  }
  .EMRAllergyInactive {
    BACKGROUND-COLOR: Gray;
  }
  .EMRAlertClosed {
    BACKGROUND-COLOR: Gray;
  }
  .ORANAOperCancelled {
    BACKGROUND-COLOR: Gray;
  }
  .tblBoarder {
    BACKGROUND-COLOR: DodgerBlue;
  }
  .clsDiagOrd {
    COLOR: Blue;
  }
  .HeaderHyperlink_OT {
    COLOR: black;
    BACKGROUND-COLOR: #cfcfff;
    TEXT-ALIGN: left;
  }
  .HeaderHyperlink_R {
    COLOR: white;
    BACKGROUND-COLOR: #336699;
    TEXT-ALIGN: left;
  }
  TH.EMRTabularCumulative {
    BORDER-RIGHT: 1px ridge;
    BORDER-TOP: 1px ridge;
    BORDER-BOTTOM: 1px ridge;
    BORDER-LEFT: 1px ridge;
    FONT-WEIGHT: lighter;
    COLOR: white;
    BACKGROUND-COLOR: #336699;
    TEXT-ALIGN: left;
  }
  TD.EMRTabularCumulativeOdd {
    PADDING-LEFT: 3px;
    BACKGROUND-COLOR: #cfcfff;
  }
  TD.EMRTabularCumulativeEven {
    PADDING-LEFT: 3px;
    BACKGROUND-COLOR: #dfdfff;
  }
  #fPAPersonConsultSetCons_Banner TABLE {
    FONT-WEIGHT: bold;
    FONT-SIZE: 14px;
    /*TEXT-TRANSFORM: capitalize;*/
    COLOR: black;
    HEIGHT: 16pt;
    /*BACKGROUND-COLOR: #f5deb3;*/
    /*original pale orange colour*/
    BACKGROUND-COLOR: whitesmoke;
    BORDER-LEFT: #000099 3px solid;
    BORDER-RIGHT: #000099 3px solid;
    BORDER-TOP: #000099 3px solid;
    BORDER-BOTTOM: #000099 3px solid;
    TEXT-ALIGN: center;
  }
  TR.PreviousConsultRowOdd {
    FONT-STYLE: italic;
    PADDING-LEFT: 3px;
    BACKGROUND-COLOR: #cfcfff;
    /* BACKGROUND-COLOR: #FF6633; */
  }
  TR.PreviousConsultRowEven {
    FONT-STYLE: italic;
    PADDING-LEFT: 3px;
    BACKGROUND-COLOR: #dfdfff /* BACKGROUND-COLOR: #FF6633; */;
  }
  /* DHCST Begin*/
  TR.Green {
    PADDING-LEFT: 3px;
    BACKGROUND-COLOR: #a0e0a0;
  }
  TR.Red {
    PADDING-LEFT: 3px;
    BACKGROUND-COLOR: #e00000;
  }
  TR.Blue {
    PADDING-LEFT: 3px;
    BACKGROUND-COLOR: deepskyblue;
  }
  TR.White {
    PADDING-LEFT: 3px;
    BACKGROUND-COLOR: white;
  }
  TR.Black {
    PADDING-LEFT: 3px;
    BACKGROUND-COLOR: black;
    color: #ffffff;
  }
  TR.Fuchsia {
    PADDING-LEFT: 3px;
    BACKGROUND-COLOR: #e000e0;
  }
  TR.Yellow {
    PADDING-LEFT: 3px;
    BACKGROUND-COLOR: #ffffc0;
  }
  TR.Gray {
    PADDING-LEFT: 3px;
    BACKGROUND-COLOR: gray;
  }
  TR.Maroon {
    PADDING-LEFT: 3px;
    BACKGROUND-COLOR: maroon;
    color: white;
  }
  TR.Purple {
    PADDING-LEFT: 3px;
    BACKGROUND-COLOR: purple;
    color: yellow;
  }
  /* DHCST Add End*/
  .dhx_combo_img {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 17px;
    height: 20px;
  }
  .dhx_combo_option_img {
    position: relative;
    top: 1px;
    margin-left: 2px;
    left: 0px;
    width: 18px;
    height: 18px;
  }
  .dhx_combo_input {
    color: #333333;
    font-family: "Microsoft Yahei";
    font-size: 14px;
    border: 0px;
    padding: 2px 2px 2px 2px;
    position: absolute;
    top: 0px;
    height:20px;
  }
  .dhx_combo_box {
    position: relative;
    border: 1px solid #7F9DB9;
    height: 20px;
    _height: 22px;
    overflow: hidden;
    background-color: white;
  }
  .dhx_combo_list {
    position: absolute;
    z-index: 30;
    overflow-y: auto;
    overflow-x: hidden;
    border: 1px solid black;
    height: 100px;
    font-family: "Microsoft Yahei";
    font-size: 14px;
    background-color: white;
  }
  .dhx_combo_list div {
    cursor: default;
    padding: 2px 2px 2px 2px;
  }
  .dhx_selected_option {
    background-color: navy;
    color: white;
  }
  .x-btn-click .x-btn-text {
    color: #ffffff;
  }
  .AdmPriorityWZ {
    background-color: yellow;
  }
  .AdmPriorityZH {
	background-color: red;
  }
  .AdmPriorityYB {
	background-color:green;
  }
}
@media print {
  BODY {
    MARGIN: 0px;
    COLOR: black;
    font-family: "Microsoft Yahei";
    FONT-SIZE: 14px;
  }
  .tblList TD {
    BORDER-RIGHT: medium none;
    BORDER-TOP: medium none;
    BORDER-LEFT: #5c5c5c 1px solid;
    BORDER-BOTTOM: #5c5c5c 1px solid;
    BACKGROUND-COLOR: #e1e1e1;
    font-family: "Microsoft Yahei";
    FONT-SIZE: 8pt;
  }
  .tblListSelect TD {
    BORDER-RIGHT: medium none;
    BORDER-TOP: medium none;
    BORDER-LEFT: #5c5c5c 1px solid;
    BORDER-BOTTOM: #5c5c5c 1px solid;
    BACKGROUND-COLOR: #e1e1e1;
    font-family: "Microsoft Yahei";
    FONT-SIZE: 8pt;
  }
  .tbTitle {
    FONT-SIZE: 14px;
    CURSOR: default;
    COLOR: black;
    font-family: "Microsoft Yahei";
  }
}
